<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<!-- 代码自动生成 da_around_community_price_info 的mapper文件 -->
<mapper namespace="com.le.ssm.dao.da.DaAroundCommunityPriceInfoMapper">

	<!-- 参数映射 -->
	<resultMap id="DaAroundCommunityPriceInfoRM" type="com.le.ssm.domain.da.DaAroundCommunityPriceInfo">
        <id property="id" column="id" javaType="String" jdbcType="VARCHAR"/>
        <result property="baseId" column="base_id" javaType="String" jdbcType="CHAR"/>
        <result property="comName" column="com_name" javaType="String" jdbcType="CHAR"/>
        <result property="csCityCode" column="cs_city_code" javaType="String" jdbcType="VARCHAR"/>
        <result property="cityName" column="city_name" javaType="String" jdbcType="VARCHAR"/>
        <result property="aroundComName" column="around_com_name" javaType="String" jdbcType="VARCHAR"/>
        <result property="distance" column="distance" javaType="Double" jdbcType="DOUBLE"/>
        <result property="xlongitude" column="xlongitude" javaType="Double" jdbcType="DOUBLE"/>
        <result property="ylatitude" column="ylatitude" javaType="Double" jdbcType="DOUBLE"/>
        <result property="unitPrice" column="unit_price" javaType="Double" jdbcType="DOUBLE"/>
        <result property="sourceChannel" column="source_channel" javaType="String" jdbcType="CHAR"/>
        <result property="status" column="status" javaType="String" jdbcType="CHAR"/>
        <result property="createTime" column="create_time" javaType="Date" jdbcType="TIMESTAMP"/>
        <result property="lastUpdateTime" column="last_update_time" javaType="Date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 表的所有字段 -->
    <sql id="allColumns">
        <![CDATA[
            id,
            base_id,
            com_name,
            cs_city_code,
            city_name,
            around_com_name,
            distance,
            xlongitude,
            ylatitude,
            unit_price,
            source_channel,
            status,
            create_time,
            last_update_time
        ]]>
    </sql>

    <!-- 表的主键字段 -->
    <sql id="pkColumns">
        <![CDATA[
            id
        ]]>
    </sql>

    <!-- 根据实体的查询对象进行查询的sql -->
    <sql id="querySql">
        select <include refid="allColumns" />
            from da_around_community_price_info
            <where>
                <if test="id != null and id != ''">
                    <![CDATA[and id = #{id}]]>
                </if>
                <if test="baseId != null and baseId != ''">
                    <![CDATA[and base_id = #{baseId}]]>
                </if>
                <if test="comName != null and comName != ''">
                    <![CDATA[and com_name = #{comName}]]>
                </if>
                <if test="csCityCode != null and csCityCode != ''">
                    <![CDATA[and cs_city_code = #{csCityCode}]]>
                </if>
                <if test="cityName != null and cityName != ''">
                    <![CDATA[and city_name = #{cityName}]]>
                </if>
                <if test="aroundComName != null and aroundComName != ''">
                    <![CDATA[and around_com_name = #{aroundComName}]]>
                </if>
                <if test="distance != null">
                    <![CDATA[and distance = #{distance}]]>
                </if>
                <if test="distanceStart != null">
                    <![CDATA[and distance >= #{distanceStart}]]>
                </if>
                <if test="distanceEnd != null">
                    <![CDATA[and distance <= #{distanceEnd}]]>
                </if>
                <if test="xlongitude != null">
                    <![CDATA[and xlongitude = #{xlongitude}]]>
                </if>
                <if test="xlongitudeStart != null">
                    <![CDATA[and xlongitude >= #{xlongitudeStart}]]>
                </if>
                <if test="xlongitudeEnd != null">
                    <![CDATA[and xlongitude <= #{xlongitudeEnd}]]>
                </if>
                <if test="ylatitude != null">
                    <![CDATA[and ylatitude = #{ylatitude}]]>
                </if>
                <if test="ylatitudeStart != null">
                    <![CDATA[and ylatitude >= #{ylatitudeStart}]]>
                </if>
                <if test="ylatitudeEnd != null">
                    <![CDATA[and ylatitude <= #{ylatitudeEnd}]]>
                </if>
                <if test="unitPrice != null">
                    <![CDATA[and unit_price = #{unitPrice}]]>
                </if>
                <if test="unitPriceStart != null">
                    <![CDATA[and unit_price >= #{unitPriceStart}]]>
                </if>
                <if test="unitPriceEnd != null">
                    <![CDATA[and unit_price <= #{unitPriceEnd}]]>
                </if>
                <if test="sourceChannel != null and sourceChannel != ''">
                    <![CDATA[and source_channel = #{sourceChannel}]]>
                </if>
                <if test="status != null and status != ''">
                    <![CDATA[and status = #{status}]]>
                </if>
                <if test="createTime != null">
                    <![CDATA[and create_time = #{createTime}]]>
                </if>
                <if test="createTimeStart != null">
                    <![CDATA[and create_time >= #{createTimeStart}]]>
                </if>
                <if test="createTimeEnd != null">
                    <![CDATA[and create_time <= #{createTimeEnd}]]>
                </if>
                <if test="lastUpdateTime != null">
                    <![CDATA[and last_update_time = #{lastUpdateTime}]]>
                </if>
                <if test="lastUpdateTimeStart != null">
                    <![CDATA[and last_update_time >= #{lastUpdateTimeStart}]]>
                </if>
                <if test="lastUpdateTimeEnd != null">
                    <![CDATA[and last_update_time <= #{lastUpdateTimeEnd}]]>
                </if>
            </where>
    </sql>

    <!-- 新增数据 -->
    <insert id="insert" parameterType="com.le.ssm.domain.da.DaAroundCommunityPriceInfo">
        <![CDATA[
            insert into da_around_community_price_info (
                id,
                base_id,
                com_name,
                cs_city_code,
                city_name,
                around_com_name,
                distance,
                xlongitude,
                ylatitude,
                unit_price,
                source_channel,
                status,
                create_time,
                last_update_time
            ) values (
                #{id},
                #{baseId},
                #{comName},
                #{csCityCode},
                #{cityName},
                #{aroundComName},
                #{distance},
                #{xlongitude},
                #{ylatitude},
                #{unitPrice},
                #{sourceChannel},
                #{status},
                #{createTime},
                #{lastUpdateTime}
            )
        ]]>
    </insert>

    <!-- 根据主键删除数据 -->
    <delete id="deleteByPrimaryKey" parameterType="com.le.ssm.domain.da.DaAroundCommunityPriceInfo">
        <![CDATA[
            delete from da_around_community_price_info
                where
                id = #{id}
        ]]>
    </delete>

    <!-- 根据主键更新数据 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.le.ssm.domain.da.DaAroundCommunityPriceInfo">
        update da_around_community_price_info
            <set>
                <if test="baseId != null"><![CDATA[base_id = #{baseId},]]></if>
                <if test="comName != null"><![CDATA[com_name = #{comName},]]></if>
                <if test="csCityCode != null"><![CDATA[cs_city_code = #{csCityCode},]]></if>
                <if test="cityName != null"><![CDATA[city_name = #{cityName},]]></if>
                <if test="aroundComName != null"><![CDATA[around_com_name = #{aroundComName},]]></if>
                <if test="distance != null"><![CDATA[distance = #{distance},]]></if>
                <if test="xlongitude != null"><![CDATA[xlongitude = #{xlongitude},]]></if>
                <if test="ylatitude != null"><![CDATA[ylatitude = #{ylatitude},]]></if>
                <if test="unitPrice != null"><![CDATA[unit_price = #{unitPrice},]]></if>
                <if test="sourceChannel != null"><![CDATA[source_channel = #{sourceChannel},]]></if>
                <if test="status != null"><![CDATA[status = #{status},]]></if>
                <if test="createTime != null"><![CDATA[create_time = #{createTime},]]></if>
                <if test="lastUpdateTime != null"><![CDATA[last_update_time = #{lastUpdateTime},]]></if>
            </set>
        where
                id = #{id}
    </update>
    <!-- 根据主键查询对象 -->
    <select id="selectByPrimaryKey" parameterType="com.le.ssm.domain.da.DaAroundCommunityPriceInfo" resultMap="DaAroundCommunityPriceInfoRM">
        select <include refid="allColumns" />
        <![CDATA[
            from da_around_community_price_info
            where
                id = #{id}
        ]]>
    </select>

    <!-- 根据实体对象查询数据结果集 -->
    <select id="selectByEntityQuery" parameterType="com.le.ssm.domain.da.query.DaAroundCommunityPriceInfoQuery" resultMap="DaAroundCommunityPriceInfoRM">
        <include refid="querySql"/>
        <if test="sortColumns != null and sortColumns != ''">
            order by ${sortColumns}
        </if>
    </select>

</mapper>
